<!-- -*- mode: XML -*- -->
<!-- Launch file to test v4l without any specific parameter. -->

<launch>

  <arg name="camera_name"/>  
  <arg name="device"
       default="/dev/video0"/>
  <arg name="camera_info_url"
       default="package://$(arg camera_name)/calibrations/camera.yaml"/>
  <arg name="mono_proc"
       default="False"/>
  <arg name="images_per_seconds"
       default="30"/>
  <arg name="deinterlace"
       default="True"/>

  <!-- generate dummy arguments to build the gscam_config -->
  <arg name="_gscam_videorate"
       if="$(eval images_per_seconds > 0)"
       default="! videorate ! video/x-raw,framerate=$(arg images_per_seconds)/1 "/>
  <arg name="_gscam_videorate"
       unless="$(eval images_per_seconds > 0)"
       default=""/>

  <arg name="_gscam_deinterlace"
       if="$(arg deinterlace)"
       default="! deinterlace "/>
  <arg name="_gscam_deinterlace"
       unless="$(arg deinterlace)"
       default=""/>

  <node name="v4l_test_gscam"
        pkg="gscam"
        type="gscam"
	output="screen">
    <param name="camera_name"
	   value="$(arg camera_name)"/>
    <param name="camera_info_url"
	   value="$(arg camera_info_url)"/>
    <!-- different gscam_config depending on parameters -->
    <param name="gscam_config"
	   value="v4l2src device=$(arg device) $(arg _gscam_videorate) $(arg _gscam_deinterlace) ! videoconvert"/>
    <param name="frame_id"
	   value="/$(arg camera_name)_frame"/>
    <param name="sync_sink"
	   value="false"/>
    <remap from="set_camera_info"
	   to="$(arg camera_name)/set_camera_info"/>
  </node>

  <node if="$(arg mono_proc)"
	name="mono_proc"
	ns="$(arg camera_name)"
	pkg="image_proc"
	type="image_proc"
	output="screen">
  </node>
  
  <node name="$(arg camera_name)_transform"
	pkg="tf"
	type="static_transform_publisher"
	args="1 2 3 0 -3.141 0 /world /$(arg camera_name) 10"/>

</launch>
